//---------- HEAD SECTION STYLE START -----------
.head-section {
  background-color: #04544d;
  height: 373px;
  padding-top: 20px;
}

.head-content {
  $head-content-font-color: #bfbfbf;
  display: flex;
  flex-direction: column;
  color: $head-content-font-color;

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__first-logo-wrapper {
    @extend %image-wrapper;
    width: 109px;
    height: 40px;
  }

  &__vertical-bar {
    @include vertical-bar(25px, rgba(247, 247, 247, 0.29));
    margin: 0 15px;
  }

  &__second-logo-wrapper {
    @extend %image-wrapper;
    width: 144px;
    height: 40px;
    margin-right: 10px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: PTSans-Regular, sans-serif;
    margin-right: 36px;
    //line-height: normal;

    & > span:first-child {
      margin-bottom: 12px;
    }
  }

  &__navigation-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    font-family: PTSans-Bold, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;

    & > li:not(:last-child) {
      margin-right: 18px;
    }
    @include set-link-color($head-content-font-color);
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icon-wrapper {
    width: 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid #4a4a4a;
  }

  &__search-icon {
    @include svg-icon(16px, 16px, 'search', #bfbfbf);
  }

  &__burger-icon {
    @include svg-icon(19px, 16px, 'burger_menu', #bfbfbf);
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    color: #f7f7f7;
  }
  &__caption {
    width: 341px;
    height: 34px;
    font-family: Intro, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 12px;
    border-bottom: 1px solid #bfbfbf;
    //margin: 0 auto;
  }
  &__description {
    width: 478px;
    height: 91px;
    font-family: PTSans-Bold, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.43;
  }
}

//---------- HEAD SECTION STYLE END -----------
