.l-mailing {
  background-color: #69268c;

  &__content {
    & .c-caption-with-icon {
      font-size: 19px;
      color: #fad100;
    }

    & .c-form-group label {
      color: #ffffff;
    }
  }
}

.c-mailing-content {
}
